.Main {
  height: 100vh;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.Main #infobloc {
  flex-grow: 1;
}

.Main #infobloc #lastAction {
  border: 1px solid black;
  background-color: cornflowerblue;
  border-radius: 5px;
}

#chatPanel {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin-top: 10px;
  border: 1px solid lightslategray;
}

#chatPanel > div:first-of-type {
  display: flex;
  width: 100%;
  height: 100%;
}

.Main #chatInputTextarea {
  width: 100%;
  bottom: 0;
  /* height: 30px; */
  border: 1px solid lightslategray;
}
.Main #chatInputTextarea form {
  display: flex;
  height: fit-content;
}

.Main #chatInputTextarea #messageTextArea {
  flex-grow: 1;
  height: 100%;
  padding: 0;
  border: none;
  padding-left: 5px;
  background-color: darkslategray;
  color: whitesmoke;
}

.Main #connectedUsers {
  flex-grow: 1;
}

.Main .sendButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-image: url("../../svg/SendButton.svg");
  background-repeat: round;
  width: 30px;
  background-color: darkslategray;
}
